body {
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: #1F1F20;
  margin: 0px;
  padding: 0px;
}

.mainContain {
  display: flex;
  position: relative;
}
.center {
  text-align: center;
  margin: 0px auto;
  justify-content: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 15vh;
  width: 100%;
  height: 15vh;
}

.lightHeader {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.sidebar {
  height: 100vh;
  width: 40vw;
  font-size: 35px;
  border-left: 1px solid #7D7D7D;
  position: absolute;
  right: 0px;
}

.leftContain {
  width: 60vw;
  height: 100vh;
}

.playerContainer {
  margin: 10px 20px;
  background-color: #7D7D7D;
  position: relative;
  padding-left: 30px;
}

.selector {
  position: absolute;
  left: 0;
  z-index: 2;
  background-color: #787878;
  width: 20px;
  height: 85px;
  float: left;
  margin-right: 10px;
  opacity: 1;
}

.selector:hover {
  opacity: 0;
}

.overlay {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 85px;
  float: left;
  background-color: white;
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.4);
}

.matchContain {
  display: flex;
  height: 70vh;
  justify-content: space-evenly;
}

.matchPlayer {
  background-color: white;
  width: 40%;
  height: 60%;
}

.default {
  width: 400px;
  background-color: #787878;
}

.red {
  color: red;
  width: 300px;
}

.blue {
  color: blue;
  width: 500px;
}