body {
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: #1F1F20;
  margin: 0px;
  padding: 0px;
}

.mainContain {
  display: flex;

}
.center {
  text-align: center;
  margin: 0px auto;
  justify-content: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 45px;
  width: 500px;
  height: 45px;
}

.lightHeader {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.sidebar {
  height: 100vh;
  width: 40vw;
  font-size: 35px;
  border-left: 1px solid #7D7D7D;
}

.playerContainer {
  margin: 10px 20px;
  background-color: #7D7D7D;
}

.selector {
  background-color: #5A5A5A;
  width: 20px;
  height: 85px;
  float: left;
  margin-right: 10px;
}
.selector:hover {
  background-color: #FFFFFF;
}